@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.dp-home {
  border-radius: 42% 58% 55% 45% / 36% 24% 76% 64%;
}

.dp-about-me {
  border-radius: 41% 59% 36% 64% / 56% 71% 29% 44% ;
}

// scrollbar - start
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #6B63C7;
  border-radius: 100px;
}
// scrollbar - end